<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

 <% @dec16am.each do |separate| %>
      <tr>
        <td><%= separate.candidate_id %></td>
        <td><%= separate.candidate_firstname %></td>
        <td><%= separaate.candidate_lastname %></td>
      </tr>
  <% end %>
