<h1>hello</h1>

<dt>12-16 AM  Candidates</dt>
<%= @dec16am %>

<!-- <dt>Venues</dt>
        <%# @dec16am.each do |names| %>
        <dd><li class="list-group-item">
            <%#= candidates.candidate_firstname %>
          </li>
          </dd>
        <%#end%> -->
